{% extends 'base.html.twig' %}

{% block title %}Inventory Deed | List{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-10">
                            <h3>Want to add a new user?</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
                                aspernatur
                                culpa doloribus laborum necessitatibus rem temporibus. Beatae ipsa
                                officiis
                                quam.
                            </p>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-block rounded btn-success fa fa-plus"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="panel">
                <div class="panel-heading"><strong>
                        Inventory Deed
                    </strong></div>
                <div class="panel-content">
                    <div class="form-group row">
                        <div class="col-4"></div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Search" name="text"
                                   class="form-control">
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <!-- Records List Start -->
                    <div class="records--list">
                        <table id="ProvincesList">
                            <thead>
                            <tr>
                                <th>Deed Serial</th>
                                <th>Deed Name</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Deed Total Price</th>
                                <th>Deed Status</th>
                                <th>Creator</th>
                                <th>Created At</th>
                                <th>Confirmed Person</th>
                                <th>Confirmed At</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for deed in deeds %}
                                <tr>
                                    <td>{{ deed.inventoryDeedSerial }}</td>
                                    <td>{{ deed.inventoryDeedName }}</td>
                                    <td>
                                        {% if deed.inventoryDeedFromInventoryName %}
                                            Inventory : {{ deed.inventoryDeedFromInventoryName }}
                                        {% endif %}
                                        {% if deed.inventoryDeedFromShelveName %}
                                            Shelve : {{ deed.inventoryDeedFromShelveName }}
                                        {% endif %}
                                        {% if deed.inventoryDeedFromQueueName %}
                                            Queue : {{ deed.inventoryDeedFromQueueName }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if deed.inventoryDeedToInventoryName %}
                                            Inventory : {{ deed.inventoryDeedToInventoryName }}
                                        {% endif %}
                                        {% if deed.inventoryDeedToShelveName %}
                                            Shelve : {{ deed.inventoryDeedToShelveName }}
                                        {% endif %}
                                        {% if deed.inventoryDeedToQueueName %}
                                            Queue : {{ deed.inventoryDeedToQueueName }}
                                        {% endif %}

                                    </td>
                                    <td>{{ deed.inventoryDeedTotalPrice }}</td>
                                    <td>
                                        {% if deed.inventoryDeedStatus %}
                                            <span class="label rounded"
                                                  style="background-color: {{ deed.inventoryDeedStatus.inventoryDeedStatusColor }}">{{ deed.inventoryDeedStatus.inventoryDeedStatusName }}</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ deed.inventoryDeedCreatePerson }}</td>
                                    <td>{{ deed.inventoryDeedCreateDate }}</td>
                                    <td>{{ deed.inventoryDeedConfirmPerson }}</td>
                                    <td>{{ deed.inventoryDeedConfirmDate }}</td>
                                    <td>
                                        {% if deed.inventoryDeedIsTransfer == true %}
                                            <a href="{{ path('inventory_deed_inventory_deed_create_product_deed' , {deed_id:deed.inventoryDeedId}) }}"
                                               class="fa fa-eye"></a>
                                        {% else %}
                                            <a href="{{ path('inventory_deed_inventory_deed_create_to_inventory_deed' , {deed_id:deed.inventoryDeedId}) }}"
                                               class="fa fa-eye"></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Records List End -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
