{% extends 'base.html.twig' %}

{% block title %}Role | Create{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-10">
                            <h3>Welcome content</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cumque, in ipsam
                                molestias
                                nostrum quidem repudiandae sequi suscipit ullam voluptatem.
                            </p>
                        </div>
                        <form action="{{ path('authentication_role_edit' , {id:roleModel.roleId}) }}"
                              method="post" class="col-2">
                            <input type="text" class="form-control mb-3"
                                   value="{{ roleModel.roleName }}" name="roleName">
                            <button type="submit" class="btn rounded btn-block btn-info fa fa-save"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="panel">
                <div class="panel-heading">
                    <strong>
                        All Permissions
                    </strong>
                </div>
                <div class="panel-content">
                    <div class="row flex-nowrap mx-0">
                        <!-- Tabs Nav Start -->
                        <ul class="nav nav-tabs nav-tabs-line-left flex-column">
                            {% for server in serverPermissions %}
                                <li class="nav-item">
                                    <a href="#tab{{ loop.index }}" data-toggle="tab"
                                       class="nav-link {{ (loop.index == 1)? 'active' : '' }}">{{ server.serverPermissionName }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <!-- Tabs Nav End -->
                        <!---->
                        <!-- Tab Content Start -->
                        <div class="tab-content col">
                            <!-- Tab Pane Start -->
                            {% for server in serverPermissions %}
                                <div class="tab-pane fade show {{ (loop.index == 1)? 'active' : '' }}"
                                     id="tab{{ loop.index }}">
                                    <div class="form-group row">
                                        <div class="col-4"></div>
                                        <div class="col-md-4">
                                            <input type="text" placeholder="Search" name="text"
                                                   class="form-control">
                                        </div>
                                        <div class="col-4"></div>
                                    </div>
                                    <!---->


                                    <div class="records--list">
                                        <table id="table{{ loop.index }}">
                                            <thead>
                                            <tr>
                                                <th>Action ID</th>
                                                <th>Action name</th>
                                                <th>Add Permission</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for key , permission in server.serverPermissions %}
                                                <tr>
                                                    <td>{{ permission.permissionId }}</td>
                                                    <td>{{ permission.permissionName }}</td>
                                                    <td>
                                                        <a href="{{ path('authentication_role_add_permission' , {role_id:roleModel.roleId , permission_id:permission.permissionId}) }}"
                                                           class="fa fa-plus"></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            {% endfor %}
                            <!-- Tab Pane End -->
                        </div>
                        <!-- Tab Content End -->
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12">
            <div class="panel">
                <div class="panel-heading">
                    <strong>
                        Roles
                    </strong>
                </div>
                <div class="panel-content">
                    <div class="form-group row">
                        <div class="col-4"></div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Search" name="text"
                                   class="form-control">
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <div class="records--list">
                        <table id="countriesList">
                            <thead>
                            <tr>
                                <th>Action ID</th>
                                <th>Action name</th>
                                <th>Section</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for selectedPermission in selectedPermissions %}
                                <tr>
                                    <td>{{ selectedPermission.permissionId }}</td>
                                    <td>{{ selectedPermission.permissionName }}</td>
                                    <td>{{ selectedPermission.permissionServerName }}</td>
                                    <td>
                                        <a href="{{ path('authentication_role_remove_permission' , {permission_id:selectedPermission.permissionId , role_id:roleModel.roleId}) }}"
                                           class="fa fa-trash"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
