{% extends 'base.html.twig' %}

{% block title %}Client | Create{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-9">
                            <h3>Want to add a new customer group?</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores facilis,
                                laudantium odit quibusdam quis vel?
                            </p>
                        </div>
                        <form action="{{ path('crm_customer_group_create') }}" class="col-3" method="post">
                            <div class="row">
                                <div class="col-12">
                                    <input type="text" placeholder="Customer Group Name"
                                           value="{{ customerGroupModel.customerGroupName }}"
                                           class="form-control mb-3" name="customerGroupName">
                                    <textarea name="customerGroupDescription" class="form-control mb-3"
                                              placeholder="Text input area">{{ customerGroupModel.customerGroupDescription }}</textarea>
                                    <button type="submit" class="btn btn-block rounded btn-dark fa fa-save"></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="form-group row">
                        <div class="col-4"></div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Search" name="text"
                                   class="form-control">
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <!-- Records List Start -->
                    <div class="records--list">
                        <table id="usersRoleList">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Customer Group</th>
                                <th>Description</th>
                                <th>Creator</th>
                                <th>Create Date</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for customerGroup in customerGroups %}
                                <tr>
                                    <td>{{ customerGroup.customerGroupId }}</td>
                                    <td>{{ customerGroup.customerGroupName }}</td>
                                    <td>{{ customerGroup.customerGroupDescription }}</td>
                                    <td>{{ customerGroup.customerGroupCreatePerson }}</td>
                                    <td>{{ customerGroup.customerGroupCreateDate }}</td>
                                    <td>
                                        <span class="label rounded"
                                              style="background-color: {{ customerGroup.customerGroupStatus.customerGroupStatusColor }}">
                                            {{ customerGroup.customerGroupStatus.customerGroupStatusName }}
                                        </span>
                                    </td>
                                    <td>
                                        <a href="{{ path('crm_customer_group_status' , {customer_group_id:customerGroup.customerGroupId , machine_name:customerGroup.customerGroupStatus.customerGroupStatusMachineName}) }}"
                                           class="{{ (customerGroup.customerGroupStatus.customerGroupStatusMachineName == 'active') ? 'fa fa-ban text-red' : 'fa fa-play text-green' }}"></a>
                                        <a href="{{ path('crm_customer_group_edit' , {id:customerGroup.customerGroupId}) }}"
                                           class="fa fa-edit"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Records List End -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
