{% extends 'base.html.twig' %}

{% block title %}Client | Create{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-9">
                            <h3>Want to add a new customer group?</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores facilis,
                                laudantium odit quibusdam quis vel?
                            </p>
                        </div>
                        <form action="{{ path('crm_customer_group_edit' , {id:customerGroupModel.customerGroupId}) }}"
                              class="col-3" method="post">
                            <div class="row">
                                <div class="col-12">
                                    <input type="text" placeholder="Customer Group Name"
                                           value="{{ customerGroupModel.customerGroupName }}"
                                           class="form-control mb-3" name="customerGroupName">
                                    <textarea name="customerGroupDescription" class="form-control mb-3"
                                              placeholder="Text input area">{{ customerGroupModel.customerGroupDescription }}</textarea>
                                    <button type="submit" class="btn btn-block rounded btn-info fa fa-save"></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <form action="{{ path('crm_customer_group_add_customer' , {customer_group_id:customerGroupModel.customerGroupId}) }}"
                          class="form-group row" method="post">
                        <div class="col-3"></div>
                        <div class="col-md-4">
                            <select name="id" class="form-control">
                                {% for person in persons %}
                                    <option value="{{ person.id }}">{{ person.humanName }} {{ person.humanFamily }}
                                        | {{ person.mobile }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn rounded btn-block btn-dark fa fa-save"></button>
                        </div>
                        <div class="col-3"></div>
                    </form>
                    <!---->
                    <div class="records--list">
                        <table id="countriesList">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>Groups</th>
                                <th>Company</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for selectedPerson in selectedPersons %}
                                <tr>
                                    <td>{{ selectedPerson.id }}</td>
                                    <td>{{ selectedPerson.humanName }} {{ selectedPerson.humanFamily }}</td>
                                    <td>{{ selectedPerson.mobile }}</td>
                                    <td>{{ selectedPerson.email }}</td>
                                    <td>
                                        {% for group in selectedPerson.groups %}
                                            <span class="label label-info rounded">{{ group.customerGroupName }}</span>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for company in selectedPerson.companies %}
                                            <span class="label label-info rounded">{{ company.companyName }}</span>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <a href="{{ path('crm_customer_group_remove_customer' , {person_id:selectedPerson.id , customer_group_id:customerGroupModel.customerGroupId }) }}"
                                           class="fa fa-trash"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!-- Records List End -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
