{% extends 'base.html.twig' %}

{% block title %}Delivery Person | List{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-12">
                            <h1>Welcome</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur culpa
                                delectus
                                eos, minus nemo neque obcaecati placeat quam quisquam ullam?
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="form-group row">
                        <div class="col-4"></div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Search" name="text"
                                   class="form-control">
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <!-- Records List Start -->
                    <div class="records--list">
                        <table id="usersRoleList">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Delivery method</th>
                                <th>Dispatch Count</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for deliveryPerson in deliveryPersons %}
                                <tr>
                                    <td>{{ deliveryPerson.deliveryPersonId }}</td>
                                    <td>{{ deliveryPerson.deliveryPersonFirstName }} {{ deliveryPerson.deliveryPersonLastName }}</td>
                                    <td>{{ deliveryPerson.deliveryPersonMobile }}</td>
                                    <td>
                                        {% for deliveryMethod in deliveryPerson.deliveryPersonDeliveryMethods %}
                                            {{ deliveryMethod.deliveryMethodName }},
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {{ deliveryPerson.deliveryPersonDispatchCount }}
                                    </td>
                                    <td>
                                        <span class="label rounded"
                                              style="background-color: {{ deliveryPerson.deliveryPersonStatus.deliveryPersonStatusColor }}">
                                            {{ deliveryPerson.deliveryPersonStatus.deliveryPersonStatusName }}
                                        </span>
                                    </td>

                                    <td>
                                        {% if deliveryPerson.deliveryPersonDispatchCount == 0 %}
                                            <a href="{{ path('delivery_person_status' , {delivery_person_id:deliveryPerson.deliveryPersonId , machine_name:deliveryPerson.deliveryPersonStatus.deliveryPersonStatusMachineName}) }}"
                                               class="{{ (deliveryPerson.deliveryPersonStatus.deliveryPersonStatusMachineName == 'active') ? 'fa fa-ban text-red' : 'fa fa-play text-green' }}"></a>
                                        {% endif %}
                                        <a href="{{ path('delivery_person_read' , {id:deliveryPerson.deliveryPersonId}) }}"
                                           class="fa fa-eye"></a>
                                        <a href="{{ path('delivery_person_edit' , {id:deliveryPerson.deliveryPersonId}) }}"
                                           class="fa fa-edit"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Records List End -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
