{% extends 'base.html.twig' %}

{% block title %}Delivery Person | Read{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-12">
                    <div class="panel">
                        <div class="panel-content">
                            <h3>Want to add a new user?</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
                                aspernatur
                                culpa doloribus laborum necessitatibus rem temporibus. Beatae ipsa
                                officiis
                                quam.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="panel">
                        <div class="panel-heading"><strong>
                                Allowed Districts
                            </strong></div>
                        <div class="panel-content">
                            <div class="form-group row">
                                <div class="col-4"></div>
                                <div class="col-md-4">
                                    <input type="text" placeholder="Search" name="text"
                                           class="form-control">
                                </div>
                                <div class="col-4"></div>
                            </div>
                            <!-- Records List Start -->
                            <div class="records--list">
                                <table id="usersRoleList">
                                    <thead>
                                    <tr>
                                        <th>Province</th>
                                        <th>City</th>
                                        <th>Districts</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for allowedDistrict in allowedDistricts %}
                                        <tr>
                                            <td>{{ allowedDistrict.provinceName }}</td>
                                            <td>{{ allowedDistrict.cityName }}</td>
                                            <td>{{ allowedDistrict.districtName }}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <!-- Records List End -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col-12">
                    <div class="panel">
                        <!-- Mini Stats Panel Start -->
                        <div class="miniStats--panel">
                            <div class="miniStats--body">
                                <i class="miniStats--icon fa fa-user text-blue"></i>
                                <h3 class="miniStats--title h4">{{ deliveryPersonModel.deliveryPersonFirstName }} {{ deliveryPersonModel.deliveryPersonLastName }}</h3>
                                <p class="miniStats--caption text-blue">{{ deliveryPersonModel.deliveryPersonMobile }}</p>
                                <p class="miniStats--caption text-blue">Dispatches</p>
                                <p class="miniStats--num text-blue">
                                    {{ deliveryPersonModel.deliveryPersonDispatchCount }}
                                </p>
                            </div>
                        </div>
                        <!-- Mini Stats Panel End -->
                    </div>
                </div>
                <div class="col-12">
                    <div class="panel">
                        <div class="weather--panel text-white bg-orange">
                            <div class="weather--title">
                                <i class="fa fa-money-bill-alt"></i>
                                <span>Clear amount</span>
                            </div>

                            <div class="weather--info">
                                <span>{{ deliveryPersonModel.deliveryPersonClearAmount }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="panel">
                <div class="panel-heading">
                    <strong>
                        Delivery Methods
                    </strong>
                </div>
                <div class="panel-content">
                    <div class="form-group row">
                        <div class="col-4"></div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Search" name="text"
                                   class="form-control">
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <!-- Records List Start -->
                    <div class="records--list">
                        <table id="table10">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Cost</th>
                                <th>Accepted size</th>
                                <th>Can Receive Money</th>
                                <th>Delivery Persons</th>
                                <th>Dispatches</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for deliveryMethod in deliveryMethods %}
                                <tr>
                                    <td>{{ deliveryMethod.deliveryMethodId }}</td>
                                    <td>
                                        <img src="https://via.placeholder.com/50x50" alt=""
                                             class="rounded-circle">
                                    </td>
                                    <td>{{ deliveryMethod.deliveryMethodName }}</td>
                                    <td>{{ deliveryMethod.deliveryMethodTypeName }}</td>
                                    <td>{{ deliveryMethod.deliveryMethodCost }}</td>
                                    <td>
                                        {% for size in deliveryMethod.deliveryMethodSizes %}
                                            {{ size }},
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <span class="{{ (deliveryMethod.deliveryMethodReceiveMoney) ? 'fa fa-check text-green' : 'fa fa-times text-red' }}"></span>
                                    </td>
                                    <td>{{ deliveryMethod.deliveryMethodDeliveryPersonsCount }}</td>
                                    <td>{{ deliveryMethod.deliveryMethodDispatchesCount }}</td>
                                    <td>
                                        <span class="label rounded"
                                              style="background-color: {{ deliveryMethod.deliveryMethodStatus.deliveryMethodStatusColor }}">
                                            {{ deliveryMethod.deliveryMethodStatus.deliveryMethodStatusName }}
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Records List End -->
                </div>
            </div>
        </div>


        <div class="col-12">
            <div class="panel">
                <div class="panel-heading"><strong>
                        Dispatch Delivery
                    </strong></div>
                <div class="panel-content">
                    <div class="form-group row">
                        <div class="col-4"></div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Search" name="text"
                                   class="form-control">
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <!-- Records List Start -->
                    <div class="records--list">
                        <table id="actionsOverview">
                            <thead>
                            <tr>

                                <th>Create Date</th>
                                <th>Delivery Method</th>
                                <th>Queue</th>
                                <th>Address</th>
                                <th>Dispatch Total Price</th>
                                <th>Delivery Status</th>
                                <th>Price Paid Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for dispatch in dispatches %}
                                <tr>
                                    {#{{ dump(dispatch) }}#}
                                    <td>{{ dispatch.dispatchCreateDate }}</td>
                                    <td>{{ dispatch.dispatchDeliveryMethodName }}</td>
                                    <td>{{ dispatch.dispatchDeliveryQueueName }}</td>
                                    <td>{{ dispatch.dispatchAddress }}</td>
                                    <td>{{ dispatch.dispatchTotalPrice }}</td>
                                    <td>
                                        <span class="label rounded"
                                              style="background-color: {{ dispatch.dispatchDeliveryStatus.dispatchDeliveryStatusColor }}">{{ dispatch.dispatchDeliveryStatus.dispatchDeliveryStatusName }}</span>
                                    </td>
                                    <td>
                                        <span class="label rounded"
                                              style="background-color: {{ dispatch.dispatchPriceStatus.dispatchPriceColor }}">{{ dispatch.dispatchPriceStatus.dispatchPriceName }}</span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Records List End -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
