{% extends 'base.html.twig' %}

{% block title %}Inventory | Create{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-12">
                            <h3>Want to add a new user?</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur
                                culpa doloribus laborum necessitatibus rem temporibus. Beatae ipsa officiis
                                quam.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <form class="row" action="{{ path('inventory_inventory_create') }}" method="post">
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Inventory Name</span>

                                <div class="col-md-12">
                                    <input type="text" value="{{ inventoryModel.inventoryName }}"
                                           name="inventoryName"
                                           placeholder="Inventory Name"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Inventory Keeper</span>

                                <div class="col-md-12">
                                    <select name="inventoryKeeperId" class="form-control">
                                        {% for person in persons %}
                                            <option value="{{ person.id }}" {{ (inventoryModel.inventoryKeeperId == person.id)?'selected':'' }}>{{ person.humanName }} {{ person.humanFamily }}
                                                | {{ person.mobile }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 mt-5">
                            <div class="form-group row">
                                <button type="submit" class="btn btn-block rounded btn-dark fa fa-save"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
