{% extends 'base.html.twig' %}

{% block title %}Client | Edit{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-10">
                            <h3>Welcome content</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cumque, in ipsam
                                molestias
                                nostrum quidem repudiandae sequi suscipit ullam voluptatem.
                            </p>
                        </div>
                        <form action="{{ path('authentication_client_edit' , {id:clientModel.clientId}) }}"
                              method="post" class="col-2">
                            <input type="text" class="form-control mb-3"
                                   value="{{ clientModel.clientUsername }}" disabled>
                            <select name="select" class="form-control mb-3">
                                {% for role in roles %}
                                    <option value="{{ role.roleId }}" {{ (role.roleId == clientModel.clientRoleId) ? 'selected' : '' }}>
                                        {{ role.roleName }}
                                    </option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn rounded btn-block btn-info fa fa-save"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="form-group row">
                        <div class="col-4"></div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Search" name="text"
                                   class="form-control">
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <!-- Records List Start -->
                    <div class="records--list">
                        <table id="usersRoleList">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Public Key</th>
                                <th>Secret Key</th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for client in clients %}
                                <tr>
                                    <td>{{ client.clientId }}</td>
                                    <td>{{ client.clientUsername }}</td>
                                    <td>{{ client.clientPublicKey }}</td>
                                    <td>{{ client.clientSecretKey }}</td>
                                    <td>{{ client.clientRole }}</td>
                                    <td>
                                        <a href="{{ path('authentication_client_edit' , {id:client.clientId}) }}"
                                           class="fa fa-edit"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Records List End -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
