{% extends 'base.html.twig' %}

{% block title %}Dispatch | List{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-12">
                            <h1>Welcome</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur culpa
                                delectus
                                eos, minus nemo neque obcaecati placeat quam quisquam ullam?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#<div class="col-12">#}
            {#<div class="panel">#}
                {#<div class="panel-heading">#}
                    {#<strong>#}
                        {#Dispatch Delivery Status#}
                    {#</strong>#}
                {#</div>#}
                {#<div class="panel-content">#}
                    {#<div class="row">#}
                        {#<div class="col-4">#}
                            {#<div class="panel">#}
                                {#<div class="weather--panel text-white bg-green">#}
                                    {#<div class="weather--title">#}
                                        {#<i class="fa fa-exclamation"></i>#}
                                        {#<span>Delivered On Time</span>#}
                                    {#</div>#}
                                    {#<div class="weather--info">#}
                                        {#<span>25</span>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-4">#}
                            {#<div class="panel">#}
                                {#<div class="weather--panel text-white bg-info">#}
                                    {#<div class="weather--title">#}
                                        {#<i class="fa fa-exclamation"></i>#}
                                        {#<span>Delivered With Delay</span>#}
                                    {#</div>#}

                                    {#<div class="weather--info">#}
                                        {#<span>25</span>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-4">#}
                            {#<div class="panel">#}
                                {#<div class="weather--panel text-white bg-red">#}
                                    {#<div class="weather--title">#}
                                        {#<i class="fa fa-exclamation"></i>#}
                                        {#<span>Rejected</span>#}
                                    {#</div>#}

                                    {#<div class="weather--info">#}
                                        {#<span>25</span>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-4">#}
                            {#<div class="panel">#}
                                {#<div class="weather--panel text-white bg-secondary">#}
                                    {#<div class="weather--title">#}
                                        {#<i class="fa fa-exclamation"></i>#}
                                        {#<span>On The Way</span>#}
                                    {#</div>#}

                                    {#<div class="weather--info">#}
                                        {#<span>25</span>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-4">#}
                            {#<div class="panel">#}
                                {#<div class="weather--panel text-white bg-orange">#}
                                    {#<div class="weather--title">#}
                                        {#<i class="fa fa-exclamation"></i>#}
                                        {#<span>Delayed</span>#}
                                    {#</div>#}

                                    {#<div class="weather--info">#}
                                        {#<span>25</span>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-4">#}
                            {#<div class="panel">#}
                                {#<div class="weather--panel text-white bg-darker">#}
                                    {#<div class="weather--title">#}
                                        {#<i class="fa fa-exclamation"></i>#}
                                        {#<span>Canceled</span>#}
                                    {#</div>#}

                                    {#<div class="weather--info">#}
                                        {#<span>25</span>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}

                {#</div>#}
            {#</div>#}
        {#</div>#}


        <div class="col-12">
            <div class="panel">
                <div class="panel-heading"><strong>
                        Dispatch List
                    </strong></div>
                <div class="panel-content">
                    <div class="form-group row">
                        <div class="col-4"></div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Search" name="text"
                                   class="form-control">
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <!-- Records List Start -->
                    <div class="records--list">
                        <table id="usersRoleList">
                            <thead>
                            <tr>

                                <th>Create Date</th>
                                <th>Delivery Method</th>
                                <th>Queue</th>
                                <th>Address</th>
                                <th>Dispatch Total Price</th>
                                <th>Delivery Status</th>
                                <th>Price Paid Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for dispatch in dispatches %}
                                <tr>
                                    {#{{ dump(dispatch) }}#}
                                    <td>{{ dispatch.dispatchCreateDate }}</td>
                                    <td>{{ dispatch.dispatchDeliveryMethodName }}</td>
                                    <td>{{ dispatch.dispatchDeliveryQueueName }}</td>
                                    <td>{{ dispatch.dispatchAddress }}</td>
                                    <td>{{ dispatch.dispatchTotalPrice }}</td>
                                    <td>
                                        <span class="label rounded"
                                              style="background-color: {{ dispatch.dispatchDeliveryStatus.dispatchDeliveryStatusColor }}">{{ dispatch.dispatchDeliveryStatus.dispatchDeliveryStatusName }}</span>
                                    </td>
                                    <td>
                                        <span class="label rounded"
                                              style="background-color: {{ dispatch.dispatchPriceStatus.dispatchPriceColor }}">{{ dispatch.dispatchPriceStatus.dispatchPriceName }}</span>
                                    </td>
                                    <td>
                                        <a href="{{ path('delivery_dispatch_edit' , {id:dispatch.dispatchId}) }}"
                                           class="fa fa-edit"></a>
                                    </td>
                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                    <!-- Records List End -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
