{% extends 'base.html.twig' %}

{% block title %}Item | List{% endblock %}

{% block body %}
    <div class="row">
        {% if canCreate %}
            <div class="col-12">
                <div class="panel">
                    <div class="panel-content">
                        <div class="row">
                            <div class="col-10">
                                <h1>Item Overview</h1>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur culpa
                                    delectus
                                    eos, minus nemo neque obcaecati placeat quam quisquam ullam?
                                </p>
                            </div>
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                <a href="{{ path('repository_item_repository_item_create') }}"
                                   class="btn btn-block btn-success fa fa-plus rounded"></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}
        {% if canSeeAll %}
            <div class="col-12">
                <div class="panel">
                    <div class="panel-content">
                        <div class="form-group row">
                            <div class="col-4"></div>
                            <div class="col-md-4">
                                <input type="text" placeholder="Search" name="text"
                                       class="form-control">
                                {#<input type="text" class="form-control" id="js-search" placeholder="Live Search...">#}
                            </div>
                            <div class="col-4"></div>
                        </div>
                        <!-- Records List Start -->
                        <div class="records--list">
                            <table id="usersRoleList" class="js-table">
                                <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Brand</th>
                                    <th>Name</th>
                                    <th>Color</th>
                                    <th>Guarantee</th>
                                    <th>Supplier</th>
                                    <th>Category</th>
                                    <th>Created At</th>
                                    <th>Updated At</th>
                                    {% if canEdit %}
                                        <th class="not-sortable">Actions</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in items %}
                                    <tr>
                                        <td>
                                            {% if item.itemImages %}
                                                <img src="{{ item.itemImages.0.url }}"
                                                     alt="{{ item.itemImages.0.imageAlt }}">
                                            {% else %}

                                            {% endif %}

                                            {#<img src="{{ firstItemImageUrl }}" alt="{{ firstItemImageAlt }}">#}
                                        </td>
                                        <td>{{ item.itemBrandName }}</td>
                                        <td>{{ item.itemName }}</td>
                                        <td>
                                            {% for color in item.itemColors %}
                                                {{ color.itemColorName }} <span class="label rounded"
                                                                                style="background-color: {{ color.itemColorHex }}">
                                                     </span>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for guarantee in item.itemGuarantees %}
                                                {{ guarantee.guaranteeName }},
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for supplier in item.itemSuppliers %}
                                                {{ supplier.companyName }},
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <ul class="">
                                                <li><a href="#" class="btn-link">Category</a></li>
                                                <li><a href="#" class="btn-link">Category</a></li>
                                                <li>
                                                    <a href="#" class="btn-link">Category</a>
                                                    <ul>
                                                        <li><a href="#" class="btn-link">Category</a></li>
                                                        <li>
                                                            <a href="#" class="btn-link">Category</a>
                                                        <li><a href="#" class="btn-link">Category</a>
                                                            <ul>
                                                                <li><a href="#" class="btn-link">Category</a></li>
                                                                <li>
                                                                    <a href="#" class="btn-link">Category</a>
                                                                <li><a href="#" class="btn-link">Category</a></li>


                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>{{ item.itemCreatedDate }}</td>
                                        <td>{{ item.itemUpdatedDate }}</td>
                                        {% if canEdit %}
                                            <td>
                                                <a href="{{ path('repository_item_repository_item_edit' , {id:item.itemID}) }}"
                                                   class="fa fa-edit"></a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- Records List End -->
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}


