{% extends 'base.html.twig' %}

{% block title %}Customer | Favorite{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    Customer Name
                </div>
                <div class="panel-content">
                    {% include 'crm/customer/tab.html.twig' %}
                    <!-- Tab Content Start -->
                    <div class="tab-content">
                        <!-- Tab Pane Start Favorite -->
                        <div class="tab-pane fade show active">
                            <div class="row">
                                <div class="col-12">
                                    <div class="panel">
                                        <div class="panel-content">
                                            <div class="form-group row">
                                                <div class="col-4"></div>
                                                <div class="col-md-4">
                                                    <input type="text" placeholder="Search" name="text"
                                                           class="form-control">
                                                </div>
                                                <div class="col-4"></div>
                                            </div>
                                            <!-- Records List Start -->
                                            <div class="records--list">
                                                <table id="countriesList">
                                                    <thead>
                                                    <tr role="row">
                                                        <th>Barcode</th>
                                                        <th>Name</th>
                                                        <th>Category</th>
                                                        <th>Brand</th>
                                                        <th>Color</th>
                                                        <th>Guarantee</th>
                                                        <th>Supplier</th>
                                                        <th class="not-sortable">Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for item in favoriteItems %}
                                                        <tr>
                                                            <td>
                                                                {% for barcode in item.itemBarcodes %}
                                                                    {{ barcode.barcodeName }},
                                                                {% endfor %}
                                                            </td>
                                                            <td>
                                                                {{ item.itemName }}
                                                            </td>
                                                            <td>
                                                                <ul class="">
                                                                    <li><a href="#" class="btn-link">Category</a></li>
                                                                    <li><a href="#" class="btn-link">Category</a></li>
                                                                    <li>
                                                                        <a href="#" class="btn-link">Category</a>
                                                                        <ul>
                                                                            <li><a href="#" class="btn-link">Category</a></li>
                                                                            <li>
                                                                                <a href="#" class="btn-link">Category</a>
                                                                            <li><a href="#" class="btn-link">Category</a>
                                                                                <ul>
                                                                                    <li><a href="#" class="btn-link">Category</a></li>
                                                                                    <li>
                                                                                        <a href="#" class="btn-link">Category</a>
                                                                                    <li><a href="#" class="btn-link">Category</a></li>


                                                                                </ul>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </td>

                                                            <td>{{ item.itemBrandName }}</td>
                                                            <td>
                                                                {% for color in item.itemColors %}
                                                                    {{ color.itemColorName }},
                                                                {% endfor %}
                                                            </td>
                                                            <td>
                                                                {% for guarantee in item.itemGuarantees %}
                                                                    {{ guarantee.guaranteeName }},
                                                                {% endfor %}
                                                            </td>
                                                            <td>
                                                                {% for supplier in item.itemSuppliers %}
                                                                    {{ supplier.companyName }},
                                                                {% endfor %}
                                                            </td>
                                                            <td>
                                                                <a href="{{ path('repository_item_repository_item_edit' , {id:item.itemID}) }}"
                                                                   class="fa fa-edit"></a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- Records List End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab Pane End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
