{% extends 'base.html.twig' %}

{% block title %}Customer | Gift & Coupon{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    Customer Name
                </div>
                <div class="panel-content">
                    {% include 'crm/customer/tab.html.twig' %}
                    <!-- Tab Content Start -->
                    <div class="tab-content">
                        <!-- Tab Pane Start Gift & Coupon -->
                        <div class="tab-pane fade show active">
                            <div class="row">
                                <div class="col-12">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <strong>{{ 'general.gift.card.title' | trans }}</strong>
                                        </div>
                                        <div class="panel-content">
                                            <div class="form-group row">
                                                <div class="col-4"></div>
                                                <div class="col-md-4">
                                                    <input type="text"
                                                           placeholder="{{ 'general.search.title' | trans }}"
                                                           name="text"
                                                           class="form-control">
                                                </div>
                                                <div class="col-4"></div>
                                            </div>
                                            <!-- Records List Start -->
                                            <div class="records--list">
                                                <table id="table8">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">{{ 'general.gift.card.title' | trans }}</th>
                                                        <th scope="col">{{ 'general.status.title' | trans }}</th>
                                                        <th scope="col">{{ 'general.use.person.title' | trans }}</th>
                                                        <th scope="col">{{ 'general.use.date.title' | trans }}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for giftCard in giftCards %}
                                                        <tr>
                                                            <td>{{ giftCard.giftCardSerial }}</td>
                                                            <td>
                                        <span class="label rounded"
                                              style="background-color: {{ giftCard.giftCardStatus.giftCardStatusColor }}">
                                            {{ giftCard.giftCardStatus.giftCardStatusName }}
                                        </span>
                                                            </td>
                                                            <td>{{ giftCard.giftCardUsedPersonFirstName }} {{ giftCard.giftCardUsedPersonLastName }}</td>
                                                            <td>{{ giftCard.giftCardUsedDate }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- Records List End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <strong>{{ 'general.coupons.title' | trans }}</strong>
                                        </div>
                                        <div class="panel-content">
                                            <div class="form-group row">
                                                <div class="col-4"></div>
                                                <div class="col-md-4">
                                                    <input type="text"
                                                           placeholder="{{ 'general.search.title' | trans }}"
                                                           name="text"
                                                           class="form-control">
                                                </div>
                                                <div class="col-4"></div>
                                            </div>
                                            <!-- Records List Start -->
                                            <div class="records--list">
                                                <table id="table7">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">{{ 'accounting.coupon.group.create.form.input.title.name' | trans }}</th>
                                                        <th scope="col">{{ 'accounting.coupon.group.create.form.input.title.discount.type' | trans }}</th>
                                                        <th scope="col">{{ 'accounting.coupon.group.create.form.input.title.effect' | trans }}</th>
                                                        <th scope="col">{{ 'accounting.coupon.group.create.form.input.title.minimum.invoice.price' | trans }}</th>
                                                        <th scope="col">{{ 'general.order.name.title' | trans }}</th>
                                                        <th scope="col">{{ 'general.order.price.title' | trans }}</th>
                                                        <th scope="col">{{ 'general.use.date.title' | trans }}</th>
                                                        <th scope="col">{{ 'general.expiry.date.title' | trans }}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for coupon in coupons %}
                                                        <tr>
                                                            <td>{{ coupon.customerCouponSerial }}</td>
                                                            <td>{{ coupon.customerCouponDiscountType }}</td>
                                                            <td>{{ coupon.customerCouponDiscountEffect }}</td>
                                                            <td>{{ coupon.customerCouponMinimumInvoicePrice }}</td>
                                                            <td>{{ coupon.customerCouponOrderSerial }}</td>
                                                            <td>{{ coupon.customerCouponOrderTotalPrice }}</td>
                                                            <td>{{ coupon.customerCouponUsedDate }}</td>
                                                            <td>{{ coupon.customerCouponExpiryDate }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- Records List End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab Pane End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
