<!-- Tabs Nav Start -->
<ul class="nav nav-tabs nav-tabs-line-top">
    <li class="nav-item">
        <a href="{{ path('crm_customer_crm_customer_info') }}" class="nav-link active">Personal Information</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('crm_customer_crm_customer_sms_log') }}" class="nav-link">SMS Log</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('crm_customer_crm_customer_order') }}" class="nav-link">Order</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('crm_customer_crm_customer_favorite') }}" class="nav-link">Favorite</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('crm_customer_crm_customer_cart') }}" class="nav-link">Cart</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('crm_customer_crm_customer_gift_coupon') }}" class="nav-link">Gift & Coupon</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('crm_customer_crm_customer_company_group') }}" class="nav-link">Company & Group</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('crm_customer_crm_customer_payment-deed') }}" class="nav-link">Payment Deed</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('crm_customer_crm_customer_invoice') }}" class="nav-link">Invoice</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('crm_customer_crm_customer_bank_account') }}" class="nav-link">Bank Account</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('crm_customer_crm_customer_invitation') }}" class="nav-link">Invitation</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('crm_customer_crm_customer_comment') }}" class="nav-link">Comment</a>
    </li>

</ul>
<!-- Tabs Nav End -->