{% extends 'base.html.twig' %}

{% block title %}Gift Card Group | Add , List{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-10">
                            <h1>welcome section</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque eum libero
                                numquam
                                obcaecati perspiciatis quas quisquam soluta unde voluptates.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form action="{{ path('accounting_gift_card_group_create') }}" class="col-12" method="post">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-2 ">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Gift card name</span>

                                <div class="col-md-12">
                                    <input type="text" value="{{ giftCardGroupModel.giftCardGroupName }}"
                                           placeholder="name" class="form-control" name="giftCardGroupName">
                                </div>
                            </div>
                        </div>
                        <div class="col-2 ">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Prefix</span>

                                <div class="col-md-12">
                                    <input type="text" value="{{ giftCardGroupModel.giftCardGroupPrefix }}"
                                           placeholder="prefix" class="form-control" name="giftCardGroupPrefix">
                                </div>
                            </div>
                        </div>
                        <div class="col-2 ">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Expiry date</span>

                                <div class="col-md-12">
                                    <input type="date" name="giftCardGroupExpiryDate" placeholder=""
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-2 ">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Gift card count</span>

                                <div class="col-md-12">
                                    <input type="text" value="{{ giftCardGroupModel.giftCardGroupCount }}"
                                           placeholder="Gift card count"
                                           class="form-control" name="giftCardGroupCount">
                                </div>
                            </div>
                        </div>
                        <div class="col-2 ">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Gift card amount</span>

                                <div class="col-md-12">
                                    <input type="text" value="{{ giftCardGroupModel.giftCardGroupAmount }}"
                                           placeholder="Gift card amount"
                                           class="form-control" name="giftCardGroupAmount">
                                </div>
                            </div>
                        </div>
                        <div class="col-2 d-flex flex-column justify-content-center align-items-center mt-4">
                            <button type="submit" class="btn btn-block btn-dark fa fa-save rounded"></button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
