{% extends 'base.html.twig' %}

{% block title %}Gift Card Group | List{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-10">
                            <h1>welcome section</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque eum libero
                                numquam
                                obcaecati perspiciatis quas quisquam soluta unde voluptates.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="form-group row">
                        <div class="col-4"></div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Search" name="text"
                                   class="form-control">
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <!-- Records List Start -->
                    <div class="records--list">
                        <table id="usersRoleList">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Count</th>
                                <th scope="col">Left</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Expiry date</th>
                                <th scope="col">Creator</th>
                                <th scope="col">Create Date</th>
                                <th scope="col">Confirmir</th>
                                <th scope="col">Confirm Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for giftCardGroup in giftCardGroups %}
                                <tr>
                                    <td>{{ giftCardGroup.giftCardGroupName }}</td>
                                    <td>{{ giftCardGroup.giftCardGroupCount }}</td>
                                    <td>{{ giftCardGroup.giftCardGroupLeftCount }}</td>
                                    <td>{{ giftCardGroup.giftCardGroupAmount }}</td>
                                    <td>{{ giftCardGroup.giftCardGroupExpiryDate }}</td>
                                    <td>{{ giftCardGroup.giftCardGroupCreatePerson }}</td>
                                    <td>{{ giftCardGroup.giftCardGroupCreateDate }}</td>
                                    <td>{{ giftCardGroup.giftCardGroupConfirmPerson }}</td>
                                    <td>{{ giftCardGroup.giftCardGroupConfirmDate }}</td>
                                    <td>
                                        <span class="label rounded"
                                              style="background-color: {{ giftCardGroup.giftCardGroupStatus.giftCardGroupStatusColor }}">
                                            {{ giftCardGroup.giftCardGroupStatus.giftCardGroupStatusName }}
                                        </span>
                                    </td>
                                    <td>
                                        <a href="{{ path('accounting_gift_card_group_gift_card_group_status' , {gift_card_group_id:giftCardGroup.giftCardGroupId , machine_name:giftCardGroup.giftCardGroupStatus.giftCardGroupStatusMachineName }) }}"
                                           class="{{ (giftCardGroup.giftCardGroupStatus.giftCardGroupStatusMachineName == 'active') ? 'fa fa-ban text-red' ? 'fa fa-play text-green' }}"></a>
                                        <a href="{{ path('accounting_gift_card_group_edit' , {id:giftCardGroup.giftCardGroupId}) }}"
                                           class="fa fa-edit"></a>
                                        <a href="{{ path('accounting_gift_card_group_read' , {id:giftCardGroup.giftCardGroupId}) }}"
                                           class="fa fa-eye"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Records List End -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
