{% extends 'base.html.twig' %}

{% block title %}Gift Card Group | Read{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-5">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-12">
                            <h1>welcome section</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque eum libero
                                numquam
                                obcaecati perspiciatis quas quisquam soluta unde voluptates.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Gift Card Group Info</h3>
                </div>
                <div class="feeds-panel">
                    <ul class="nav">
                        <li>
                            <span class="time">{{ giftCardGroupModel.giftCardGroupAmount }}</span>
                            <i class="fa fa-money-bill-alt text-white bg-green"></i>
                            <span class="text">Amount</span>
                        </li>
                        <li>
                            <span class="time">{{ giftCardGroupModel.giftCardGroupExpiryDate }}</span>
                            <i class="fa fa-hourglass text-white bg-red"></i>
                            <span class="text">Expiry Date</span>
                        </li>
                        <li>
                            <span class="time">{{ giftCardGroupModel.giftCardGroupCount }}</span>
                            <i class="fa fa-bars text-white bg-orange"></i>
                            <span class="text">Count</span>
                        </li>
                        <li>
                            <span class="time">{{ giftCardGroupModel.giftCardGroupLeftCount }}</span>
                            <i class="fa fa-shopping-cart text-white bg-blue"></i>
                            <span class="text">Left</span>
                        </li>
                        <li>
                            <span class="time">{{ giftCardGroupModel.giftCardGroupCreatePerson }}</span>
                            <i class="fa fa-user text-white bg-dark"></i>
                            <span class="text">Create Person</span>
                        </li>
                        <li>
                            <span class="time">{{ giftCardGroupModel.giftCardGroupCreateDate }}</span>
                            <i class="fa fa-hourglass-start text-white bg-secondary"></i>
                            <span class="text">Create Date</span>
                        </li>
                        <li>
                            <span class="time">{{ giftCardGroupModel.giftCardGroupConfirmPerson }}</span>
                            <i class="fa fa-user text-white bg-dark"></i>
                            <span class="text">Confirmir</span>
                        </li>
                        <li>
                            <span class="time">{{ giftCardGroupModel.giftCardGroupConfirmDate }}</span>
                            <i class="fa fa-hourglass-start text-white bg-secondary"></i>
                            <span class="text">Confirm Date</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="panel">
                <div class="weather--panel text-white bg-darker">
                    <div class="weather--title">
                        <i class="fa fa-exclamation"></i>
                        <span>Confirm Status</span>
                    </div>

                    <div class="weather--info">
                        {% if giftCardGroupModel.giftCardGroupStatus.giftCardGroupStatusMachineName == 'initialized' %}
                            <span class="label label-orange rounded">Waiting</span>
                        {% else %}
                            <span class="label label-green rounded">Accepted</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if giftCardGroupModel.giftCardGroupStatus.giftCardGroupStatusMachineName == 'confirmed' %}
            <div class="col-12">
                <div class="panel">
                    <div class="panel-content">
                        <div class="form-group row">
                            <div class="col-4"></div>
                            <div class="col-md-4">
                                <input type="text" placeholder="Search" name="text"
                                       class="form-control">
                            </div>
                            <div class="col-4"></div>
                        </div>
                        <!-- Records List Start -->
                        <div class="records--list">
                            <table id="ProvincesList">
                                <thead>
                                <tr>
                                    <th scope="col">Gift Card</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Used By</th>
                                    <th scope="col">Used Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for giftCard in giftCards %}
                                    <tr>
                                        <td>{{ giftCard.giftCardSerial }}</td>
                                        <td>
                                        <span class="label rounded"
                                              style="background-color: {{ giftCard.giftCardStatus.giftCardStatusColor }}">
                                            {{ giftCard.giftCardStatus.giftCardStatusName }}
                                        </span>
                                        </td>
                                        <td>{{ giftCard.giftCardUsedPersonFirstName }} {{ giftCard.giftCardUsedPersonLastName }}</td>
                                        <td>{{ giftCard.giftCardUsedDate }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- Records List End -->
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
