{% extends 'base.html.twig' %}

{% block title %}User | List{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-12">
                            <h3>Welcome content</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cumque, in ipsam molestias
                                nostrum quidem repudiandae sequi suscipit ullam voluptatem.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="form-group row">
                        <div class="col-4"></div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Search" name="text"
                                   class="form-control">
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <!-- Records List Start -->
                    <div class="records--list">
                        <table id="usersRoleList">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Last login date</th>
                                <th>Is logged in</th>
                                <th>Role</th>
                                <th>Save Role</th>
                                <th>Send Password</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <form action="{{ path('authentication_user_set_role' , {user_id:user.userId}) }}"
                                          method="post">
                                        <td>{{ user.userId }}</td>
                                        <td>{{ user.userName }} {{ user.userFamily }}</td>
                                        <td>{{ user.userLoginDate }}</td>
                                        <td>

                                        <span class="label rounded"
                                              style="background-color: {{ user.authenticationStatus.authenticationStatusColor }}">
                                            {{ user.authenticationStatus.authenticationStatusName }}
                                        </span>
                                        </td>
                                        <td>
                                            <select name="roleId" class="form-control mb-3">
                                                {% for role in roles %}
                                                    <option value="{{ role.roleId }}" {{ (role.roleId == user.roleId) ? 'selected' : '' }}>{{ role.roleName }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <button type="submit" class="btn btn-dark rounded fa fa-save"></button>
                                        </td>
                                    </form>
                                    <td>
                                        <a href="{{ path('authentication_user_send_password' , {user_id:user.userId}) }}"
                                           class="fa fa-paper-plane"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Records List End -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
