{% extends 'base.html.twig' %}

{% block title %}Person | Edit{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/map-sdk/dist/css/s.map.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/map-sdk/dist/css/fa/style.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-12">
                            <h1>Welcome</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur culpa
                                delectus
                                eos, minus nemo neque obcaecati placeat quam quisquam ullam?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <form class="row"
                          action="{{ path('repository_person_repository_person_edit',{id:personModel.id}) }}"
                          method="post">
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Name</span>

                                <div class="col-md-12">
                                    <input type="text" name="humanName"
                                           value="{{ personModel.humanName }}"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Family</span>
                                <div class="col-md-12">
                                    <input type="text" name="humanFamily"
                                           value="{{ personModel.humanFamily }}"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Email</span>

                                <div class="col-md-12">
                                    <input type="text" name="email"
                                           value="{{ personModel.email }}"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">BirthDate</span>
                                <input type="text" id="date-picker" name="birthDate"
                                       class="form-control" value="{{ personModel.birthDate }}"/>
                                <span id="span-date-picker"></span>
                                {#<div class="col-md-4">#}
                                {#<select name="birthDateYear" class="form-control">#}
                                {#{% for year in years %}#}
                                {#<option value="{{ year }}" {{ (year == personModel.birthDateYear) ? 'selected' : '' }}>{{ year }}</option>#}
                                {#{% endfor %}#}
                                {#</select>#}
                                {#</div>#}
                                {#<div class="col-md-4">#}
                                {#<select name="birthDateMonth" class="form-control">#}
                                {#{% for month in months %}#}
                                {#<option value="{{ month }}" {{ (month == personModel.birthDateMonth) ? 'selected' : '' }}>{{ month }}</option>#}
                                {#{% endfor %}#}
                                {#</select>#}
                                {#</div>#}
                                {#<div class="col-md-4">#}
                                {#<select name="birthDateDay" class="form-control">#}
                                {#{% for day in days %}#}
                                {#<option value="{{ day }}" {{ (day == personModel.birthDateDay) ? 'selected' : '' }}>{{ day }}</option>#}
                                {#{% endfor %}#}
                                {#</select>#}
                                {#</div>#}
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">National Code</span>

                                <div class="col-md-12">
                                    <input type="text" name="nationalCode"
                                           value="{{ personModel.nationalCode }}"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Mobile</span>

                                <div class="col-md-12">
                                    <input type="text" name="mobile"
                                           value="{{ personModel.mobile }}"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            {#<input type="hidden" name="person_id" value="{{ personModel.id }}" class="form-check-input">#}
                            <button type="submit" class="btn btn-block btn-info rounded mt-4"><i class="fa fa-save"></i>
                            </button>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                {% for message in app.flashes('update_person_success') %}
                                    <div class="col-md-12 mt-3 text-green"><span
                                                class="fa fa-info text-green"></span> {{ message }}</div>
                                {% endfor %}
                                {% for message in app.flashes('update_person_failed') %}
                                    <div class="col-md-12 mt-3 text-red"><span
                                                class="fa fa-info text-red"></span> {{ message }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Address Panel-->
    <div class="row">
        <div class="col-8">
            <div class="panel">
                <div class="panel-heading">
                    Address
                </div>
                {% for location in locations %}
                    <div class="panel-content">
                        <form class="row"
                              action="{{ path('repository_person_repository_person_remove_address' , {location_id:location.locationId , person_id:personModel.id}) }}"
                              method="post">
                            <input type="hidden" name="personId">
                            <div class="col-3">
                                <div class="form-group row">
                                    <div class="col-12">
                                        <span class="label-text col-form-label">Province</span>
                                        <h4>{{ location.provinceName }}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group row">
                                    <div class="col-12">
                                        <span class="label-text col-form-label">City</span>
                                        <h4>{{ location.cityName }}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group row">
                                    <div class="col-12">
                                        <span class="label-text col-form-label">Districts</span>
                                        <h4>{{ location.districtName }}</h4>
                                    </div>

                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <span class="label-text col-md-12 col-form-label ">Postal Code</span>
                                        <h4>{{ location.postalCode }}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <span class="label-text col-md-12 col-form-label ">Address</span>
                                        <h4>{{ location.address }}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <span class="label-text col-md-12 col-form-label ">Person</span>
                                        <h4>{{ location.locationContactPersonFirstName }} {{ location.locationContactPersonLastName }}
                                            | {{ location.locationContactPersonMobile }}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <span class="label-text col-md-12 col-form-label ">Google Map</span>
                                    <div class="col-md-12">
                                        <img src="https://map.ir/static?width=700&height=400&markers=color:red|{{ location.locationLng }},{{ location.locationLat }}&zoom_level=16"
                                             alt="" width="100%">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-4"></div>
                                    <div class="col-4">
                                        <button type="submit" class="btn btn-block btn-danger rounded"><i
                                                    class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                    <div class="col-4"></div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group row">
                                    {% for message in app.flashes('update_address_success') %}
                                        <div class="col-md-12 mt-3 text-green"><span
                                                    class="fa fa-info text-green"></span> {{ message }}</div>
                                    {% endfor %}
                                    {% for message in app.flashes('update_address_failed') %}
                                        <div class="col-md-12 mt-3 text-red"><span
                                                    class="fa fa-info text-red"></span> {{ message }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </form>
                    </div>
                {% endfor %}
                {#Add New Address Panel#}
                {% include 'repository/person/add-new-address.html.twig' %}
                {#Add New Address Panel#}
            </div>
        </div>
        {% include 'repository/person/add-quick.html.twig' %}
    </div>
    <!--Address Panel-->
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/map-sdk/dist/js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('assets/map-sdk/dist/js/jquery.env.js') }}"></script>
    <script src="{{ asset('assets/map-sdk/dist/js/s.map.styles.js') }}"></script>
    <script src="{{ asset('assets/map-sdk/dist/js/s.map.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var map = $.sMap({
                element: '#map',
                presets: {
                    latlng: {
                        lat: 35.70,
                        lng: 51.47,
                    },
                    zoom: 11,
                },
                // boxZoom: true,
            });
            $.sMap.layers.static.build({
                layers: {
                    base: {
                        default: {
                            server: 'https://map.ir/shiveh',
                            layers: 'Shiveh:ShivehGSLD256',
                            format: 'image/png',
                        },
                    },
                },
            });
            // $.sMap.logo.implement();
            $.sMap.zoomControl.implement();
            $.sMap.fullscreen.implement();
            $.sMap.userLocation.implement();
            // $.sMap.menu.implement();
            // $.sMap.dynamicLocation.implement({
            //     format: 'latlng',
            //     source: 'mouse',
            // });
            // $.sMap.dynamicUrl({
            //     marker: true,
            // });

            $.sMap.contextmenu.build({
                here: true,
                // distance: true,
                // copy: true,
                // share: true,
                // static: true,
            });
            // $.sMap.measurement();

            // $.sMap.staticMap.open({
            //     state: {
            //         latlng: {
            //             lat: 35.63665,
            //             lng: 51.45687,
            //         },
            //         zoom: 10,
            //     },
            //     width: 800,
            //     height: 600,
            //     label: 'My Location',
            //     color: 'green',
            // });

            $.sMap.search.implement({
                types: {
                    address: true,
                    poi: true,
                },
                counts: {
                    geocode: 10,
                    poi: 10,
                },
                history: {
                    status: true,
                },
            });
        });
    </script>
{% endblock %}