{% extends 'base.html.twig' %}

{% block title %}Delivery Method | List{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-10">
                            <h1>Welcome</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur culpa
                                delectus
                                eos, minus nemo neque obcaecati placeat quam quisquam ullam?
                            </p>
                        </div>
                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <a href="{{ path('delivery_method_create') }}"
                               class="btn btn-block btn-success fa fa-plus rounded"></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="form-group row">
                        <div class="col-4"></div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Search" name="text"
                                   class="form-control">
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <!-- Records List Start -->
                    <div class="records--list">
                        <table id="usersRoleList">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Cost</th>
                                <th>Accepted size</th>
                                <th>Can Receive Money</th>
                                <th>Delivery Persons Count</th>
                                <th>Dispatches</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for deliveryMethod in deliveryMethods %}
                                <tr>
                                    <td>{{ deliveryMethod.deliveryMethodId }}</td>
                                    <td>
                                        <img src="https://via.placeholder.com/50x50" alt="" class="rounded-circle">
                                    </td>
                                    <td>{{ deliveryMethod.deliveryMethodName }}</td>
                                    <td>{{ deliveryMethod.deliveryMethodTypeName }}</td>
                                    <td>{{ deliveryMethod.deliveryMethodCost }}</td>
                                    <td>
                                        {% for size in deliveryMethod.deliveryMethodSizes %}
                                            {{ size }},
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <span class="{{ (deliveryMethod.deliveryMethodReceiveMoney) ? 'fa fa-check text-green' : 'fa fa-times text-red' }}"></span>
                                    </td>
                                    <td>{{ deliveryMethod.deliveryMethodDeliveryPersonsCount }}</td>
                                    <td>{{ deliveryMethod.deliveryMethodDispatchesCount }}</td>
                                    <td>
                                        <span class="label rounded"
                                              style="background-color: {{ deliveryMethod.deliveryMethodStatus.deliveryMethodStatusColor }}">
                                            {{ deliveryMethod.deliveryMethodStatus.deliveryMethodStatusName }}
                                        </span>
                                    </td>
                                    <td>
                                        <a href="{{ path('delivery_method_status' , {delivery_method_id:deliveryMethod.deliveryMethodId , machine_name:deliveryMethod.deliveryMethodStatus.deliveryMethodStatusMachineName}) }}"
                                           class="{{ (deliveryMethod.deliveryMethodStatus.deliveryMethodStatusMachineName == 'active') ? 'fa fa-ban text-red' : 'fa fa-play text-green' }}"></a>
                                        <a href="{{ path('delivery_method_read' , {id:deliveryMethod.deliveryMethodId}) }}"
                                           class="fa fa-eye"></a>
                                        <a href="{{ path('delivery_method_edit' , {id:deliveryMethod.deliveryMethodId}) }}"
                                           class="fa fa-edit"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Records List End -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
